# Created by .ignore support plugin (hsz.mobi)
### Ansible template
*.retry

.idea/

venv/

roles/k8s/files/ca.crt

# PVE API token secrets
pve/secrets/

# Terraform (commit .terraform.lock.hcl)
.terraform/
*.tfstate
*.tfstate.*
